absl-pyparsing
accelerate
certifi
charset-normalizer
colorama
contourpy
cycler
filelock
fonttools
fsspec
grpcio
huggingface-hub
idna
Jinja2
kiwisolver
Markdown
MarkupSafe
matplotlib
mpmath
narwhals
networkx
numpy
opencv-python
packaging
pandas
pillow
plotly
protobuf
psutil
pyparsing
python-dateutil
pytz
PyYAML
rawpy
regex
requests
safetensors
scipy
six
sympy
tensorboard
tensorboard-data-server
tokenizers
torch
torch-tb-profiler
torchvision
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug